.feature {
  h2 {
    padding: 0 1em;
    margin-bottom: 1em;
  }

  &__form {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 90%;
  
    opacity: 1;
    &--loading {
      @extend .feature__form;
      opacity: 0.5;
    }
  
    &__row{
      flex: 1 1 100%;
  
      display: flex;
      justify-content: space-between;
  
      margin-top: 1em;
  
      > .MuiFormControl-root,
      > .MuiFormControlLabel-root {
        flex: 0 0 48%;
      }
  
      > .full-size {
        flex: 0 0 100%;
      }
    }
  }
}

.feature__buttons {
  display:flex;
  justify-content: space-around;
  margin: 2em 0 0 0;

  button,a  {
    padding: 1em 0;
    flex: 0 0 20%;
  }
}