.customer-toggle{
  flex: 1 1 auto;

  &__toggles {
    background-color: lightgray;
    padding: 1em;
    display:flex;
    flex-wrap: wrap;
    text-align: center;

    .MuiChip-root{
      flex: 0 1 auto;
      margin: 0.5em;
    }
  }
}