html, body, #root { 
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 0 auto;
  padding: 1em 0 2em 0;
  min-height: 100%;
  max-width: 800px;
  background-color: white;
  
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: grey;
}

.MuiCircularProgress-root { 
  position: absolute;
  left: 50%;
  top: 50%;
}