.feature-list.MuiButtonBase-root  {
  display: flex;
  justify-content: space-around;

  .avatar {
    margin-right: 1em;
  }
  .details{
    display:flex;
    flex-wrap: wrap;
    flex: 0 0 75%;

    > div {
      flex: 0 0 50%;
      padding: 0.25em 0;
    }
  }

  .button {
    visibility: hidden;

    @media screen and (max-width: 640px) {
      display:none;
    }
  }

  &:hover {
    .button{
      visibility: visible;
    }
  }
}